*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Odibee Sans', cursive;
  font-size: 22px;
   background-color: #171716;
}
/* IDEA:...............................MENU NAVEGACION................................... */
.header{
  background-color: #171716;
  border-bottom:4px solid #f2b648;
  height: 80px;
  position: fixed;z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
}
.header img{
  height: 70px;
  width: 110px;
}
.nav{
   display: flex;
   justify-content: space-between;
}
.nav_menu_link{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}
.nav_menu_link_carta{
  color:#F44336;
  text-decoration: none;
}
.nav_menu_link_carta:hover{
  transform: scale(1.1);
}
.nav_menu_link_carrito{
  color:  rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #F44336;
  border: 2px solid rgb(255, 255, 255);
}
.nav_menu_link_carrito:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(196, 54, 29);
}
.nav_menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav_menu_item{
  margin: 0 20px;
  text-transform:uppercase;
  line-height: 80px;
  width: max-content;/* Si tienes 2 palabras no lo va a mandar para abajo si se acorta el width */
}

.nav_menu_link:hover{
  background-color: rgb(99, 98, 96);
  transition: 0.5s;
}
.icon_nav{
  height: 100%;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;

  display: none;
}
/*--------------------------------------------CATALOGO DE Productos---------------------------- */
main{
  padding-top: 80px;
  margin-bottom: 40px;
}

.hamburguesas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hb{
  width: 300px;
  height: 160px;
  border-radius: 6px;
  overflow: hidden;
  margin:20px;
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;
  transition: all 0.25s;
  background-color:#1D1D1D;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.hb img{
  width: 100%;
  height: 100%;
}
.tarjetas_catalogo a{
  text-decoration: none;
}
.hamburguesas h1{
  text-align: center;
  font-size: 16px;
  color: rgb(136, 135, 142);
  margin-top: 15px;
}
.hb:hover{
  transform: scale(1.03);
}
.card_text{
  display: block;
  width: 100%;
}
.card_text p{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  padding: 4px;
}
.tittle{
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
}
.piqueos h1{
  text-align: center;
  font-size: 16px;
  color: rgb(136, 135, 142);
  margin-top: 15px;
}
.piqueos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.refrescos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.refrescos h1{
  text-align: center;
  font-size: 16px;
  color: rgb(136, 135, 142);
  margin-top: 5px;
}
.cervezas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cervezas h1{
  text-align: center;
  font-size: 16px;
  color: rgb(136, 135, 142);
  margin-top: 5px;
}
.hb button{
  width: 100px;
  padding: 6px;
  background-color:#1D1D1D;
  color: rgb(255, 255, 255);
  border-radius:6px;
  border: 2px solid #F44336;
  cursor: pointer;
  font-size: 13px;
  margin-top: 10px;
  text-transform:uppercase;
}
.hb button:hover{
  background-color: #F44336;
}
.card_text select{
  background: transparent;
  padding: 3px;
  border:1px solid #F44336;
  background-color: rgb(255, 255, 255);
  width: 50px;
  color: #171716;
}
/* -------------------------------------------------FOOTER--------------------------------------- */
.footer{
  display: flex;
  border-top:4px solid #f2b648;
  flex-wrap: wrap;
  background-color: #171716;
  color:  rgb(255, 255, 255);
}
.footer h1{
  color: #F44336;
  font-size: 26px;
  text-transform:uppercase;
  font-weight:lighter;
}
.footer-logo{
  left: 0;

}
.footer-redes, .footer_conocenos{
  margin-left: 80px;
  margin-top: 20px;
  text-decoration: none;
}
.redes_footer{
    list-style: none;
    list-style-type: none;
    padding: 0;
}
.footer a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
.footer_link{
  margin-top: 10px;
}

.footer-promociones{
  margin-top: 20px;
  margin-left: 80px;
}
.correo_footer{
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: none;
  border: 1px solid rgb(255, 255, 255);
}
.button_correo{
  padding: 10px;
  width: 100px;
  border-radius: 0 10px 10px 0;
  background-color: #F44336;
  color: rgb(255, 255, 255);
  font-weight:bold;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}
/*.......................................RESPONSIVE................................... */
@media(max-width:870px){

  .header{
    height: 60px;
  }
  .nav img{
    height: 50px;
    width: 95px;
  }
  .nav_menu{
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    background-color: #646464;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav_menu_item{
    line-height: 70px;
  }
  .nav_menu_link:hover{
    background: none;
    color: #171716;
  }
  .nav_menu_link_carrito{
    border:none;
    background: none;
  }
  .nav_menu_link_carrito:hover{
    color: #171716;
    background: none;
  }
  .icon_nav{
    display: block;
  }
  .nav_menu-visible{
    left: 0 ;
  }
  .hamburguesas{
    display:flex;
    flex-wrap: none;
    width: 100%;
  }
  .hb{
    margin:15px auto;
    justify-content:center
  }
  .footer-promociones{
    margin-left: 40px;
    margin-bottom: 30px;
  }

}
